/* Extracted local tokens */
:root {
  --color-000: #000;
  --color-000000: #000000;
  --color-08080a: #08080a;
  --color-09090b: #09090b;
  --color-0a0b0d: #0a0b0d;
  --color-0b0c0d: #0b0c0d;
  --color-0c0c0d: #0c0c0d;
  --color-0c0c0e: #0c0c0e;
  --color-0d0d10: #0d0d10;
  --color-0f0f11: #0f0f11;
  --color-0f1012: #0f1012;
  --color-101010: #101010;
  --color-101113: #101113;
  --color-111214: #111214;
  --color-120201: #120201;
  --color-120c0a: #120c0a;
  --color-121212: #121212;
  --color-141416: #141416;
  --color-141517: #141517;
  --color-141518: #141518;
  --color-151619: #151619;
  --color-15161b: #15161b;
  --color-18191e: #18191e;
  --color-1a1b1e: #1a1b1e;
  --color-1a1b1f: #1a1b1f;
  --color-1a1b20: #1a1b20;
  --color-1c1d21: #1c1d21;
  --color-1c1d22: #1c1d22;
  --color-1e1e1e: #1e1e1e;
  --color-1f2024: #1f2024;
  --color-1f2025: #1f2025;
  --color-202124: #202124;
  --color-222: #222;
  --color-231b1a: #231b1a;
  --color-232328: #232328;
  --color-232429: #232429;
  --color-24252b: #24252b;
  --color-282930: #282930;
  --color-2a2a2a: #2a2a2a;
  --color-2a2b30: #2a2b30;
  --color-2b271d: #2b271d;
  --color-2e2f34: #2e2f34;
  --color-2e3037: #2e3037;
  --color-333: #333;
  --color-346d92: #346d92;
  --color-380c0d: #380c0d;
  --color-3a3b40: #3a3b40;
  --color-3c3d42: #3c3d42;
  --color-3c3e44: #3c3e44;
  --color-3e2010: #3e2010;
  --color-42454e: #42454e;
  --color-444: #444;
  --color-44464f: #44464f;
  --color-4a4d54: #4a4d54;
  --color-4e5055: #4e5055;
  --color-5a5c62: #5a5c62;
  --color-5d5f66: #5d5f66;
  --color-6a6b72: #6a6b72;
  --color-76787e: #76787e;
  --color-888: #888;
  --color-8c8e94: #8c8e94;
  --color-9e9a8e: #9e9a8e;
  --color-a4a298: #a4a298;
  --color-a4a5aa: #a4a5aa;
  --color-a5a298: #a5a298;
  --color-b2b4b8: #b2b4b8;
  --color-b52c24: #b52c24;
  --color-cd5a1e: #cd5a1e;
  --color-d6c886: #d6c886;
  --color-dcdad2: #dcdad2;
  --color-e2e2e4: #e2e2e4;
  --color-e4e6eb: #e4e6eb;
  --color-e68a35: #e68a35;
  --color-e8aa55: #e8aa55;
  --color-ebdcb9: #ebdcb9;
  --color-f0efea: #f0efea;
  --color-f0f0f0: #f0f0f0;
  --color-ff5500: #ff5500;
  --color-ff5d00: #ff5d00;
  --color-ff7700: #ff7700;
  --color-ff8500: #ff8500;
  --color-ff9d00: #ff9d00;
  --color-ffa166: #ffa166;
  --color-ffab44: #ffab44;
  --color-ffc466: #ffc466;
  --color-fff: #fff;
  --color-ffffff: #ffffff;
}
